@font-face {
    src: url("font/AppleSDGothicNeoB.ttf");
    font-family: "apple";
}
body {
    margin: 0;
    font-family: "apple";
}
.exit {
    padding-left: 20px;
    padding-top: 20px;
}
.main_box {
    width: 100vw;
    height: 670px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
}
.information {
    background-color: rgba(255, 255, 255, 0);
    border-bottom: solid 1px black;
    height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.information > img {
    width: 22px;
}
.information > span {
    margin-left: 10px;
}
input[id="cb3"] {
    display: none;
}
input[id="cb3"] + label {
    display: inline-block;
    width: 15px;
    height: 15px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb3"]:checked + label {
    background: url(checkbox.svg) -16px top no-repeat;
    background-size: cover;
}
.signup_link {
    position: relative;
    margin-top: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    z-index: 1;
    color: rgb(255, 255, 255);
}
.signup_box {
    width: 320px;
    background-color: black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_state {
    margin-left: 40px;
    height: 30px;
    font-size: 10px;
    display: flex;
    align-items: center;
}
.login_state > :nth-child(3) {
    margin-left: 5px;
    color: rgb(138, 138, 138);
}
a:link {
    color: rgb(204, 204, 204);
    text-decoration: none;
}
a:visited {
    color: rgb(204, 204, 204);
    text-decoration: none;
}
a:hover {
    color: rgb(204, 204, 204);
    text-decoration: underline;
}
.big {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -430px;
    z-index: -1;
}
.forget {
    display: flex;
    justify-content: center;
    color: rgb(204, 204, 204);
    font-size: 13px;
    margin-top: 10px;
}
