@font-face {
    src: url("font/AppleSDGothicNeoB.ttf");
    font-family: "apple";
}
body {
    margin: 0;
    font-family: "apple";
}
.nav-bar {
    height: 30px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
}
.nav-bar > :nth-child(1) {
    margin-left: 20px;
}
.nav-bar > :nth-child(3) {
    margin-right: 20px;
}

.main {
    margin-top: 20px;
    width: 100vw;
    height: 790px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.calendar {
    border: solid 1px rgb(230, 230, 230);
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    box-shadow: 3px 3px 3px 3px rgb(230, 230, 230);
}

.today {
    font-size: large;
    display: flex;
    justify-content: space-between;
}
.today > :nth-child(1) {
    font-size: 40px;
}
.today > :nth-child(2) {
    font-size: 20px;
    display: flex;
    align-items: center;
}
.footer {
    height: 55px;
    background-color: black;
    width: 100vw;
    bottom: 0px;
    position: fixed;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.footer > :nth-child(1) {
    margin-left: 20px;
}
.footer > :nth-child(3) {
    margin-top: 5px;
    margin-right: 20px;
}
.month {
    border-bottom: solid 1px rgb(230, 230, 230);
    height: 70px;
}

table {
    width: auto;
}
.sun {
    color: red;
}

.date_name {
    color: rgb(190, 190, 190);
    font-size: 11px;
}
.date {
    padding-top: 0px;
    padding-bottom: 30px;
}
.today_date {
    width: 18px;
    height: 18px;
    background-color: rgb(230, 230, 230);
    border: solid 1px rgb(230, 230, 230);
    border-radius: 50%;
    text-align: center;
}
.today_flex {
    display: flex;
    justify-content: center;
}

.list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 314px;
}
.NumberOfList {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-weight: bold;
}
.NumberOfList > :nth-child(1) {
    padding-left: 20px;
    font-size: 13px;
}
.NumberOfList > :nth-child(2) {
    padding-right: 20px;
    color: rgb(190, 190, 190);
    font-size: 11px;
}
.to_do {
    display: flex;
    flex-direction: column;
}
.check {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 55px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.check > :nth-child(3) {
    text-align: end;
}
.check_time {
    display: flex;
    flex-direction: column;
}
.start_time {
}
.end_time {
    font-size: 12px;
    color: rgb(190, 190, 190);
}
.odd {
    background-color: rgb(230, 230, 230);
}
.date_flex {
    display: flex;
    flex-direction: column;
}
.green_circle {
    width: 5px;
    height: 5px;
    border: solid 1px green;
    border-radius: 50%;
    background-color: green;
    margin-top: 5px;
}
input[id="cb1"] {
    display: none;
}
input[id="cb1"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb1"]:checked + label {
    background: url(checkbox.svg) -26px top no-repeat;
    background-size: cover;
}
input[id="cb2"] {
    display: none;
}
input[id="cb2"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb2"]:checked + label {
    background: url(checkbox.svg) -26px top no-repeat;
    background-size: cover;
}
input[id="cb3"] {
    display: none;
}
input[id="cb3"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb3"]:checked + label {
    background: url(checkbox.svg) -26px top no-repeat;
    background-size: cover;
}
input[id="cb4"] {
    display: none;
}
input[id="cb4"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb4"]:checked + label {
    background: url(checkbox.svg) -26px top no-repeat;
    background-size: cover;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
