/*메인화면*/
@font-face {
    src: url("font/AppleSDGothicNeoB.ttf");
    font-family: "apple";
}
body {
    margin: 0;
    font-family: "apple";
}
.nav-bar {
    height: 30px;
    width: 100vw;
    background-color: rgb(236, 232, 231);
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 7px;
}
.nav-bar > :nth-child(1) {
    margin-left: 20px;
}
.nav-bar > :nth-child(3) {
    margin-right: 20px;
    width: 27px;
}

.main {
    margin-top: 20px;
    width: 100vw;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.calendar {
    border: solid 1px rgb(230, 230, 230);
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    box-shadow: 3px 3px 3px 3px rgb(230, 230, 230);
}

.today {
    font-size: large;
    display: flex;
    justify-content: space-between;
}
.today > :nth-child(1) {
    font-size: 40px;
}
.today > :nth-child(2) {
    font-size: 20px;
    display: flex;
    align-items: center;
}
.footer {
    height: 70px;
    background-color: black;
    width: 100vw;
    bottom: 0;
    position: fixed;
    color: white;
    z-index: 2;
}
.month {
    border-bottom: solid 1px rgb(230, 230, 230);
    height: 70px;
}

table {
    width: auto;
}
.sun {
    color: red;
}

.date_name {
    color: rgb(190, 190, 190);
    font-size: 11px;
}
.date {
    padding-top: 0px;
    padding-bottom: 30px;
    height: 50px;
}
.today_date {
    width: 18px;
    height: 18px;
    background-color: rgb(230, 230, 230);
    border: solid 1px rgb(230, 230, 230);
    border-radius: 50%;
    text-align: center;
}
.date_16 {
    margin-top: 10px;
}
.today_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.day_16 {
}
.consumer {
}
.list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 314px;
}
.NumberOfList {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-weight: bold;
}
.NumberOfList > :nth-child(1) {
    padding-left: 20px;
    font-size: 13px;
}
.NumberOfList > :nth-child(2) {
    padding-right: 20px;
    color: rgb(190, 190, 190);
    font-size: 11px;
}
.to_do {
    display: flex;
    flex-direction: column;
}
.check {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 55px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.check > :nth-child(3) {
    text-align: end;
}
.check_time {
    display: flex;
    flex-direction: column;
}
.start_time {
}
.end_time {
    font-size: 3px;
    color: rgb(190, 190, 190);
}
.odd {
    background-color: rgb(230, 230, 230);
}
input[id="cb1"] {
    display: none;
}
input[id="cb1"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb1"]:checked + label {
    background: url(checkbox.svg) -26px top no-repeat;
    background-size: cover;
}
input[id="cb2"] {
    display: none;
}
input[id="cb2"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb2"]:checked + label {
    background: url(checkbox.svg) -26px top no-repeat;
    background-size: cover;
}
input[id="cb3"] {
    display: none;
}
input[id="cb3"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb3"]:checked + label {
    background: url(checkbox.svg) -26px top no-repeat;
    background-size: cover;
}
input[id="cb4"] {
    display: none;
}
input[id="cb4"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;

    vertical-align: middle;
    background: url(checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[id="cb4"]:checked + label {
    background: url(checkbox.svg) -26px top no-repeat;
    background-size: cover;
}
a:link {
    color: red;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
/*팝업*/
.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100%;
    background-color: rgb(207, 207, 207);
    z-index: 1;
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    width: 100vw;
    height: 300px;
    border-radius: 20px 20px 0 0;
    background-color: white;
    z-index: 2;
    overflow: auto;
    bottom: 0;
    left: 0;
}
.popup {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.popup > :nth-child(2) {
    margin-right: 20px;
}
.schedule {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    height: 150px;
    justify-content: space-around;
}
.table {
    display: grid;
    grid-template-columns: 0.5fr 2fr 5fr 3fr;
    text-align: center;
}
.table > :nth-child(1) {
    display: flex;
    flex-direction: column;
}
.red_circle {
    width: 5px;
    height: 5px;
    border: solid 1px red;
    border-radius: 50%;
    background-color: red;
    margin-top: 5px;
}
.green_circle {
    width: 5px;
    height: 5px;
    border: solid 1px green;
    border-radius: 50%;
    background-color: green;
    margin-top: 5px;
}
.blue_circle {
    width: 5px;
    height: 5px;
    border: solid 1px blue;
    border-radius: 50%;
    background-color: blue;
    margin-top: 5px;
    margin-left: 12.2px;
}
.blue_container {
    padding-top: 5px;
}

.calendar_circle {
    margin-left: 12px;
}
.table > :nth-child(4) {
    font-size: 10px;
}
.add_schedule {
    display: flex;
    background-color: black;
    color: rgb(190, 190, 190);
    justify-content: space-between;
    position: absolute;
    width: 370px;
    bottom: 0;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
}
.add_schedule > :nth-child(1) {
    margin-left: 20px;
}
.add_schedule > :nth-child(2) {
    margin-right: 20px;
}
/*링크*/
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}

/*일정 추가*/

.white_content_1 {
    display: none;
    position: absolute;
    width: 100vw;
    height: 500px;
    border-radius: 20px 20px 0 0;
    background-color: white;
    z-index: 3;
    overflow: auto;
    bottom: 0;
    left: 0;
}

.schedule_add {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-right: 20px;
}
.schedule_add > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    display: flex;
    justify-content: end;
    margin-left: 80px;
}

.schedule_detail {
    display: grid;
    grid-template-columns: 2fr 5fr 3.5fr;
    height: 45px;
    align-items: center;
}
.schedule_detail > :nth-child(1) {
    padding-top: 5px;
    text-align: center;
}
.schedule_detail > :nth-child(3) {
    text-align: center;
}
.green_circle_1 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: blue;
    margin-top: -5px;
}
.green_circle_1_root {
    display: flex;
    justify-content: center;
}
input::placeholder {
    color: black;
    font-family: "apple";
    font-size: 15px;
}

#ex_input {
    border: none;
}
.save_schedule {
    display: flex;
    background-color: black;
    color: rgb(190, 190, 190);
    justify-content: space-between;
    position: absolute;
    width: 370px;
    height: 42px;
    bottom: 0;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}
.save_schedule > div {
    margin-left: 0;
}
.save_schedule > :nth-child(1) > a {
    color: rgb(190, 190, 190);
}

.add_schedule > :nth-child(1) > a {
    color: rgb(190, 190, 190);
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

p {
    margin: 0px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
